<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ergebniss Ausserorts </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_ergebnisse.css') }}">
</head>
<body>
<div class="container">
    <header class="centered">
        <h1>Ausserorts</h1>
        <p>Du warst {{result}} km/h zu schnell unterwegs und erhältst daher eine Busse von {{busse}} CHF, es droht dir {{strafe}}</p>
    </header>

    <section>
        <h2>Alles auf einen Blick</h2>
        <ul>
            <li>Bei Geschwindigkeitsüberschreitungen bis und mit 20 km/h ist nur mit Bussen bis maximal 250.- CHF zu rechnen</li>
            <li>Bei Geschwindigkeitsüberschreitungen bis und mit 29 km/h ist mit Bussen und/ oder gemeinnütziger Arbeit zu rechnen</li>
            <li>Bei Geschwindigkeitsüberschreitungen bis und mit 59 km/h ist mit Bussen, Geldstrafe, Freiheitsstrafe oder gemeinnütziger Arbeit zu rechnen</li>
            <li>Ab einer Geschwindigkeitsüberschreitung von 60 km/h fallen Sie unter das Rasergesetz. Wir empfehlen Ihnen dringend einen Anwalt zu kontaktieren</li>
        </ul>
    </section>

    <section>
        <h2>Memorium</h2>
        <p>
            Weil du zu schnell warst musst du ins Gefängnis, für immer!
        </p>
    </section>

    <section id="section4">
        <h2>Kontakt</h2>
        <p>Bei Fragen erreichen Sie uns unter folgender <a href="mailto:yannic.lais@gmx.ch>">E-Mail.</a></p>
        </section>

    <footer>
        <p>© 2021 by blitzerrechner.ch</p>
    </footer>
</div>

</body>
</html>
