<!--Deutschland-->
{% extends "base.html" %}
{% set title = "Deutschland" %}
{% set stylesheet = "static/style.css" %}

{% block body %}

<div>
    <section>
        <h1>Deutschland</h1>
        <h4>Leider funktionieren die Berechnungen momentan erst in der Schweiz. <br/>
        Anbei finden Sie jedoch einige spannende Seiten, welche Ihnen helfen könnten.</h4>
    </section>
    <section>
        <h2>Bussenkatalog Deutschland</h2>
        <ul class="li-land-list">
            <li class="li-land"><a href = "https://www.bussgeldkatalog.org/">Bussgeldrechner Deutschland</a></li>
            <li class="li-land"><a href = "https://www.adac.de/verkehr/recht/bussgeld-punkte/bussgeldrechner/">Bussgeldrechner Deutschland ADAC</a></li>
        </ul>
    </section>
</div>
    
{% endblock %}
    