<!-- ausland.html -->
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Ausland</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
<style>
    section {
        margin-bottom: 20px;
    }
</style>

</head>
<body>
    <div>
        <section>
            <h1>Ausland</h1>
        </section>

        <section>
            <h2>Bussenkatalog Deutschland</h2>
            <ul>
                <li>Quelle 1</li>
                <li>Quelle 2</li>
                <li>Quelle 3</li>
            </ul>
        </section>

        <section>
            <h2>Bussenkatalog Österreich</h2>
            <ul>
                <li>Quelle 1</li>
                <li>Quelle 2</li>
                <li>Quelle 3</li>
            </ul>
        </section>

        <section>
            <h2>Bussenkatalog Italien</h2>
            <ul>
                <li>Quelle 1</li>
                <li>Quelle 2</li>
                <li>Quelle 3</li>
            </ul>

        </section>

        <section>
            <h2>Bussenkatalog Frankreich</h2>
            <ul>
                <li>Quelle 1</li>
                <li>Quelle 2</li>
                <li>Quelle 3</li>
            </ul>
        </section>

        <section>
            <h2>Kontakt</h2>
            <p>Bei Fragen erreichen Sie uns unter folgender <a href="mailto:yannic.lais@gmx.ch>">E-Mail.</a></p>
        </section>

        <footer>
            <p>© 2021 by blitzerrechner.ch</p>
        </footer>

    </div>

</body>
</html>
