<!-- eingabe.html -->
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Eingabe</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<style>
    .radio-container {
        display: inline-block;
        margin-right: 10px;
    }
</style>

<body>
<div>
    <section>
        <h1>Geben Sie Ihre geschätze Geschwindigkeit, die erlaubte Geschwindigkeit sowie Ihren Status als Wiederholungstäter ein.</h1>
        <form action="/kategorie" method="post">
            <label for="gefahren">Gefahrene Geschwindigkeit:</label>
            <input type="number" name="gefahren" id="gefahren" required>
            <br>
            <label for="erlaubt">Erlaubte Geschwindigkeit:</label>
            <input type="number" name="erlaubt" id="erlaubt" required>
            <br>
            <label for="radar">Radar-Typ:</label>
            <select name="radar" id="radar" required>
                <option value="laser">Laser</option>
                <option value="mobil">Mobil</option>
                <option value="stationaer">Stationär</option>
            </select>
            <br>
            <label for="wiederholung">Wiederholungstäter:</label>
            <a>Hattest du in den letzten 2 Jahren einen Führerausweisentzug?</a>
            <br>
            <br>
            <div class="radio-container">
                <input type="radio" id="ja" name="wiederholung" value="ja">
                <label for="ja">Ja</label>
            </div>
            <div class="radio-container">
                <input type="radio" id="nein" name="wiederholung" value="nein">
                <label for="nein">Nein</label>
            </div>
            <br>
            <input type="submit" value="Weiter">
        </form>
    </section>

    <section>
        <h2>Kontakt</h2>
         <p>Bei Fragen erreichen Sie uns unter folgender <a href="mailto:yannic.lais@gmx.ch>">E-Mail.</a></p>
     </section>
    
    <footer>
        <p>© 2021 by blitzerrechner.ch</p>
    </footer>
</div>
</body>
</html>

