<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ergebniss innerorts </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_ergebnisse.css') }}">
</head>
<body>
<div class="container">
    <header class="centered">
        <h1>Innerorts</h1>
        <p>Du warst {{result}} km/h zu schnell unterwegs und erhältst daher eine Busse von {{busse}} CHF, es droht dir {{strafe}}</p>
    </header>

    <section>
        <h2>Folgende Strafe könnte dir drohen</h2>
        <ul>
            <li>Bussenkatalog</li>
            <li>Zweites Element der Liste</li>
            <li>Drittes Element der Liste</li>
            <li>Viertes Element der Liste</li>
        </ul>
    </section>

    <section>
        <img src="blitzerrechner\image\ergebnisse\sport_car_dog.png" alt="Sportcar dog" style="max-width: 100%;">
    </section>

    <section>
        <iframe src="https://giphy.com/embed/3o85xyYIqEussQO9zO" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/police-radar-grace-danico-3o85xyYIqEussQO9zO">via GIPHY</a></p>
    </section>

    <section>
        <h2>Memorium</h2>
        <p>
            Weil du zu schnell warst musst du ins Gefängnis, für immer!
        </p>
    </section>
</div>

</body>
</html>
