<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kategorie</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <section>
            <h1>Strassentyp</h1>
            <form action="/ergebnis" method="POST">
                <input type="radio" name="kategorie" value="30" checked> 30er Zone<br>
                <input type="radio" name="kategorie" value="50"> Innerorts<br>
                <input type="radio" name="kategorie" value="80"> Ausserorts<br>
                <input type="radio" name="kategorie" value="120"> Autobahn<br>
                <input type="submit" value="Weiter">
            </form>
        </section>
        
        <section>
            <h2>Kontakt</h2>
            <p>Bei Fragen erreichen Sie uns unter folgender <a href="mailto:yannic.lais@gmx.ch>">E-Mail.</a></p>
            </section>
    
        <footer>
            <p>© 2021 by blitzerrechner.ch</p>
        </footer>
    
    </div>
</body>
</html>


