<!-- land.html -->
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Landauswahl</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div>
        <section>
            <h1>Landesauswahl</h1>
            <p>Wo wurden Sie geblitzt</p>
            <form action="/land_weiterleitung" method="post">
                <label for="land">Land:</label>
                <select name="land" id="land">
                    <option value="schweiz">Schweiz</option>
                    <option value="ausland">Ausland</option>
                </select>
                <br>
                <input type="submit" value="Weiter">
            </form>
        </section>

        <section>
            <h2>Kontakt</h2>
            <p>Bei Fragen erreichen Sie uns unter folgender <a href="mailto:yannic.lais@gmx.ch>">E-Mail.</a></p>
        </section>

        <footer>
            <p>© 2021 by blitzerrechner.ch</p>
        </footer>

    </div>
</body>
</html>
