<!-- ausland.html -->
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Wiederholungstäter</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_ergebnisse.css') }}">
    <style>
        body {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            min-height: 100vh;
            margin: 0;
        }
        h1, h2 {
            text-align: center;
        }
        section {
            display: flex;
            justify-content: center;
        }
    </style>
</head>
<body>
    <h1>Wiederholungstäter sind mega mühsam! Such dir selber deine Strafe</h1>
    <h2>Du wart nach Abzug {{result}} km/h zu schnell</h2>
</body>
</html>