body {
    font-family: Arial, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 36px;
    margin-bottom: 30px;
}

form {
    margin-top: 30px;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="number"] {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
}

input[type="submit"] {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 18px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #3e8e41;
}
