/* style.css */

/* Allgemeine Stile */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 10px;
    padding: 0;
    background-color: #9bc4f1;
}

.body.keine-strafe {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: rgb(152, 226, 112);
    display: flex;
    flex-direction: column;
    align-items: center;
}


h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 20px;

}

p {
    margin-bottom: 1em;
}


section {
    margin: 0px;
    padding: 0px;
}

/* Formular-Stile */
form {
    width: 600px;
    margin: 2em auto;
    padding: 2em;
    background-color: #6c8cc12e;
    border: 1px solid #201f1f;
    border-radius: 5px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5em;
}

/* Formular-Elemente */

input[type="text"],
select {
    display: block;
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    border: 1px solid #ccc;
    border-radius: 3px;
}

input[type="submit"] {
    display: inline-block;
    padding: 0.5em 1em;
    background-color: #3581d0;
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.radio-container {
    display: inline-block;
    margin-right: 10px;
    align-items: center;
    }

/* Infoboxen */

.info-box {
    position: relative;
    display: inline-block;
    padding: 10px;

}

.info-icon {
    border-radius: 80%;
    background-color: #ddd;
    padding: 4px;
    cursor: pointer;
}

.info-text {
    visibility: hidden;
    width: 800px;
    background-color: #d5d2d2;
    color: #111010;
    text-align: center;
    padding: 5px;
    position: absolute;
    z-index: 1;
    bottom: 125%; 
    left: 50%; 
    margin-left: -100px;
    opacity: 0;
    transition: opacity 0.3s;
}

.info-box:hover .info-text {
    visibility: visible;
    opacity: 1;
}


/* Navigation */

ul.nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #79a9f8;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    width: 250px;
    border: #111010 solid 1px;
    border-radius: 5px;
}

/* status for hover or no-hover */
.hover-enabled a:hover {
    background-color: #9ff6b6;
}

/* Aktiver Link */
.active {
    background-color: #4CAF50;
}

/* styles land */

.ul.li-land-list {
    list-style-type: none;
    background-color: #9bc4f1; /* same color as body */
}

.li-land-list li {
    display: block;
    background-color: #9bc4f1; /* same color as body */
    padding: 0px;
    margin-bottom: 10px;
    border: none;
    border-radius: 0; 
    float: none; 
}

.li-land-list .li-land a {
    color: #000000; 
    text-decoration: none;
    text-align: middle;
}

.li-land-list .li-land a:hover {
    text-decoration: underline;
}

/* styles land table */
.table {
    width: 100%;
    border-collapse: collapse;
}
.table th, .table td {
    border: 1px solid #000;
    padding: 8px;
    text-align: left;
}
.table th, .table td {
    background-color: #aba8a84e;
    font-weight: bold;
}

/* differen Body classes */
body.ergebnis {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(193, 188, 188);
    margin: 0;
    padding: 0;
    background-color: rgb(104, 12, 12); /* Hintergrundfarbe */
    display: flex;
    flex-direction: column;
    align-items: center; /* Zentriert den Inhalt horizontal */
    justify-content: center; /* Zentriert den Inhalt vertikal */
    
}

body.keine_strafe {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(0, 0, 0);
    margin: 0;
    padding: 0;
    background-color: rgb(19, 117, 50);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    
}
