<!DOCTYPE html>
<html lang="de">
<head>
    <!-- Title and stylesheet as variable -->
    <title>{{ title }}</title>
    <link rel="stylesheet" type="text/css" href="{{ stylesheet }}">
    
</head>
<!-- Variable for different bodies -->
<body class="{{ body_class }}">
    <!-- Navigation -->
    <nav>
        <ul class="nav-list">
            <li class="{{ 'active' if request.path == '/' }} hover-enabled"><a href="{{ url_for('land') }}">Länderauswahl</a></li>
            <li class="{{ 'active' if request.path == '/eingabe' }} hover-enabled"><a href="{{ url_for('index') }}">Eingabe</a></li>
            <li class="{{ 'active' if request.path == '/kategorie' or request.path == '/land_weiterleitung' }}"><a>Ergebnis</a></li>
        </ul>
    </nav>

    <!-- Page Content -->
    {% block body %}{% endblock %}

    <!-- Kontakt -->
    <section>
        <h2>Kontakt</h2>
         <p>Bei Fragen erreichen Sie uns unter folgender <a href="mailto:yannic.lais@gmx.ch>">E-Mail.</a></p>
     </section>

    <!-- Footer -->
    <footer>
        <p>© 2023 by blitzerrechner.ch</p>
    </footer>
</body>
</html>
