<!-- eingabe.html -->
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Eingabe</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<style>
    .radio-container {
    display: inline-block;
    margin-right: 10px;
    align-items: center;
    }

    .label-title {
    margin-top: 30px;
    display: block;
}

#form-section {
    width: 150%;
    margin: 0 auto; /* Dies zentriert die Sektion */
}

</style>

<body>
<div>
    <section id="form-section">
        <h1>Blitzerrechner Schweiz</h1>
        <form action="/kategorie" method="post">
            <div>
            <label class = "label.title" for="gefahren">Gefahrene Geschwindigkeit:</label>
            <p>Schätze deine gefahrene Geschwindigkeit</p>
            <input type="number" name="gefahren" id="gefahren" required>
            </div>
            <br>
            <br>
            
            <div>
            <label class = "label.title" for="erlaubt">Erlaubte Geschwindigkeit:</label>
            <p>Trage die erlaubte Geschwindigkeit ein</p>
            <input type="number" name="erlaubt" id="erlaubt" required>
            </div>
            <br>
            <br>
            
            <div>
            <label class = "label.title" for="radar">Radar-Typ:</label>
            <p>Mit welchem Radar-Typ wurdest du geblitzt?</p>
            <select name="radar" id="radar" required>
                <option value="laser">Laser</option>
                <option value="mobil">Mobil</option>
                <option value="stationaer">Stationär</option>
            </select>
            </div>
            <br>

            <div>
            <label class = "label.title" for="strassentyp">Strassentyp:</label>
            <p>Wähle den Strassentyp aus</p>

            <select name="strassentyp" id="strassentyp">
                {% for type in street_types %}
                    <option value="{{ type }}">{{ type }}</option>
                {% endfor %}
            </select>
            </div>
            <br>

            <div class="label-container">
                <label class="label.title" for="wiederholung">Wiederholungstäter:</label>
            </div>
            <div class="info-box">
                <i class="info-icon">info</i>
                <span class="info-text">Als Wiederholungstäter gillst du wenn du in den letzten 2 Jahren einen Führerausweisentzug hattest, 
                    du dich noch in der Probezeit befindest oder deinen Führerausweis auf Probezeit besitzt </span>
            </div>
            <br>

            <div class="radio-container">
                <input type="radio" id="ja" name="wiederholung" value="ja">
                <label for="ja">Ja</label>
            </div>
            <div class="radio-container">
                <input type="radio" id="nein" name="wiederholung" value="nein">
                <label for="nein">Nein</label>
            </div>
            <br>
            <input type="submit" value="Weiter">
        </form>
    </section>

    <section>
        <h2>Kontakt</h2>
         <p>Bei Fragen erreichen Sie uns unter folgender <a href="mailto:yannic.lais@gmx.ch>">E-Mail.</a></p>
     </section>
    
    <footer>
        <p>© 2021 by blitzerrechner.ch</p>
    </footer>
</div>
</body>
</html>

