<!-- land.html -->
{% extends "base.html" %}

{% block body %}

<div>
    <section>
        <h1>Landesauswahl</h1>
        <p>Wo wurden Sie geblitzt</p>
        <form action="/land_weiterleitung" method="post">
            <label for="land">Land:</label>
            <select name="land" id="land">
                <option value="schweiz">Schweiz</option>
                <option value="oesterreich">Österreich</option>
                <option value="deutschland">Deutschland</option>
                <option value="italien">Italien</option>
                <option value="frankreich">Frankreich</option>
                <option value="lichtenstein">Lichteinstein</option>
            </select>
            <br>
            <input type="submit" value="Weiter">
        </form>
    </section>

</div>

{% endblock %}