<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ergebniss Innerorts </title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style_ergebnisse.css') }}">
</head>
<body>
<div class="container">
    <header class="centered">
        <h1>Innerorts</h1>
        <p>Du warst <b>{{result}}</b> km/h zu schnell unterwegs und erhältst daher eine Busse von <b>{{busse}}</b> CHF, es droht dir <b>{{strafe}}</b></p>
    </header>

    <section>
        <h2>Alles auf einen Blick</h2>
        <ul>
            <li>Bei Geschwindigkeitsüberschreitungen bis und mit <b>15 km/h</b> ist nur mit Bussen <b>bis maximal 250.- CHF</b> zu rechnen</li>
            <li>Bei Geschwindigkeitsüberschreitungen bis und mit <b>24 km/h</b> ist mit <b>Bussen</b> und/ oder <b>gemeinnütziger Arbeit</b> zu rechnen</li>
            <li>Bei Geschwindigkeitsüberschreitungen bis und mit <b>49 km/h</b> ist mit <b>Bussen</b>, <b>Geldstrafe</b>, <b>Freiheitsstrafe</b> oder <b>gemeinnütziger Arbeit</b> zu rechnen</li>
            <li>Ab einer Geschwindigkeitsüberschreitung von <b>50 km/h</b> fallen Sie unter das <b>Rasergesetz</b>. Wir empfehlen Ihnen <b>dringend einen Anwalt</b> zu kontaktieren</li>
        </ul>
    </section>

    <section>
        <h2>Memorium</h2>
        <p>
            Weil du zu schnell warst musst du ins Gefängnis, für immer!
        </p>
    </section>

    <section>
        <h2>Kontakt</h2>
        <p>Bei Fragen erreichen Sie uns unter folgender <a href="mailto:yannic.lais@gmx.ch>">E-Mail.</a></p>
        </section>

    <footer>
        <p>© 2023 by blitzerrechner.ch</p>
    </footer>
</div>

</body>
</html>
