<!--Ergebnis Autobahn-->
{% extends "base.html" %}
{% set title = "Autobahn" %}
{% set stylesheet = "static/style_ergebnisse.css" %}

{% block body %}

<div class="container">
    <header class="centered">
        <h1>Autobahn</h1>
        <p>Du warst <b>{{result}}</b> km/h zu schnell unterwegs und erhältst daher eine Busse von <b>{{busse}}</b> CHF, es droht dir <b>{{busse}}</b></p>
    </header>

    <section>
        <h2>Alles auf einen Blick</h2>
        <ul>
            <li>Bei Geschwindigkeitsüberschreitungen bis und mit <b>25 km/h</b> ist nur mit Bussen <b>bis maximal 250.- CHF</b> zu rechnen</li>
            <li>Bei Geschwindigkeitsüberschreitungen bis und mit <b>34 km/h</b> ist mit <b>Bussen</b> und/ oder <b>gemeinnütziger Arbeit</b> zu rechnen</li>
            <li>Bei Geschwindigkeitsüberschreitungen bis und mit <b>79 km/h</b> ist mit <b>Bussen</b>, <b>Geldstrafe</b>, <b>Freiheitsstrafe</b> oder <b>gemeinnütziger Arbeit</b> zu rechnen</li>
            <li>Ab einer Geschwindigkeitsüberschreitung von <b>80 km/h</b> fallen Sie unter das <b>Rasergesetz</b>. Wir empfehlen Ihnen <b>dringend einen Anwalt</b> zu kontaktieren</li>
        </ul>
    </section>
</div>

{% endblock %}
