<!--Ergebnis Ausserorts-->
{% extends "base.html" %}
{% set title = "Ausserorts" %}
{% set stylesheet = "static/style.css" %}
{% set body_class = "ergebnisse" %}

{% block body %}

<div class="container">
    <header class="centered">
        <h1>Ausserorts</h1>
        <p>Du warst <b>{{result}}</b> km/h zu schnell unterwegs und erhältst daher eine Busse von <b>{{busse}}</b> CHF, es droht dir <b>{{strafe}}</b></p>
    </header>

    <section>
        <h2>Alles auf einen Blick</h2>
        <ul class="ergebnis-list">
            <li class="simple">Bei Geschwindigkeitsüberschreitungen bis und mit <b>20 km/h</b> ist nur mit Bussen <b>bis maximal 250.- CHF</b> zu rechnen</li>
            <li class="simple">Bei Geschwindigkeitsüberschreitungen bis und mit <b>29 km/h</b> ist mit <b>Bussen</b> und/ oder <b>gemeinnütziger Arbeit</b> zu rechnen</li>
            <li class="simple">Bei Geschwindigkeitsüberschreitungen bis und mit <b>59 km/h</b> ist mit <b>Bussen</b>, <b>Geldstrafe</b>, <b>Freiheitsstrafe</b> oder <b>gemeinnütziger Arbeit</b> zu rechnen</li>
            <li class="simple">Ab einer Geschwindigkeitsüberschreitung von <b>60 km/h</b> fallen Sie unter das <b>Rasergesetz</b>. Wir empfehlen Ihnen <b>dringend einen Anwalt</b> zu kontaktieren</li>
        </ul>
    </section>
</div>

{% endblock %}

