<!-- ausland.html -->
<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <title>Keine Strafe</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<style>
    body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    margin: 0;
    padding: 0;
    background-color: rgb(152, 226, 112); /* Hintergrundfarbe */
    display: flex;
    flex-direction: column;
    align-items: center; /* Zentriert den Inhalt horizontal */
}
</style>

<body>
<div>
    <section>
        <h1>Herzliche Gratulation!!!</h1>
        <h3>Sie haben keine Strafe zu erwarten.</h3>
    </section>

    <section>
        <h4>Kontakt</h4>
        <p>Bei Fragen erreichen Sie uns unter folgender <a href="mailto:yannic.lais@gmx.ch">E-Mail.</a></p>
    </section>

    <footer>
        <p>© 2023 by blitzerrechner.ch</p>
    </footer>

</div>
</body>
</html>