<!--Ergebnis Wiederholungstäter-->
{% extends "base.html" %}
{% set title = "Wiederholungstäter" %}
{% set stylesheet = "static/style.css" %}


{% block body %}
    <div>
        <section>
            <h1>Wiederholungstäter</h1>
        <h2>Als Wiederholungstäter gelten spezielle Regelungen unter </h2>
        <a>Du wart nach Abzug <b>{{result}}</b> km/h zu schnell</a>
        </section>
        
        <section>
            <h2>Tabelle Wiederholungstäter</h2>
            <a>Tabelle einfügen</a>
        </section>
    </div>

{% endblock %}